h1.live {
  text-align: center;
  margin-top: 20px;
}

h4.title {
  /*text-align: center;*/
}

.cnn {
  border-radius: 10px;
  width: 300px;
  float: right;
}

div.whole {
  background-image: url("images/relax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

div.news {
  border: 1px solid black;
  border-radius: 10px;
  background-color: teal;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
