

.backimg {
  background-image: url("images/books.jpg");
  height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.front {
  color:rgba(46, 139, 87, 0.85);
  background-color: tan;
  height: 40px;
  text-align: center;
  font-size: 22px;
  border-top: 20px;
  width: 50%;
  margin-bottom: 2em;
}

.front {
    box-shadow: -1em 1em 2em #070707;
}

/*---------days--------*/
.container {
    display: inline-block;
    clear: left;
    width: 100%;
    margin-left: 1em;
}

.row div {
  border-radius: 10px;
  background-color: teal;
  width: 80px;
  height: 80px;
  margin: 0.5em;
  display: inline-block;
  padding: 0.5em;
color:  rgba(255, 255, 255, 0.42);
}

.row:nth-child(4) {
    margin-bottom: 1.5em;
}

.col-sm-1:hover {
  opacity: 0.50;
  background-color: blue;
}

.col-sm-1.red {
  background-color: red;
}

/*---------form--------*/
form {
    display: inline-block;
    background-color: teal;
    width: 30%;
    position: absolute;
    border-radius: 20px;
    padding: 1em 1em 4em;
    right: 15%;
    float: right;
    margin-top: 0.4em;
    top: 12em;
    z-index: 3;
}

form div {
    padding: 0.3em;
    text-align: center;
}

input {
    width: 70%;
    height: 3em;
}

label {
    font-size: 20pt;
    font-family: serif;
    color: #ffffff;
}

#dateSelection {
    margin: 0 auto;
    /*text-align: center;*/
    margin-left: 20px;
}


/*---------media queries--------*/
@media (max-width: 1100px) {

    .top {
        font-size: 40pt;
    }

    .front {
        width: 100%;
        }

    .row div {
        width: 6em;
        height: 6em;
        display: inline;
        line-height: 4em;
        clear: right;
            }
}

@media (max-width: 500px) {
    .top {
        font-size: 14pt;
    }

    .front {
        width: 100%;
        }
    .row div {
        width: 3em;
        height: 3em;
        display: inline;
        line-height: 2em;
        clear: right;
            }

}

div.log {
  background-color: gray;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 100px;
}

table, th, td, tr {
  border: 1px solid black;
  margin-left: 140px;
  font-size: 20px;
}

#ready-button {
  margin-left: 230px;
}

#right-pane {
  margin-top: 100px;
}
