
  <!-- nav end -->
  <!-- project start -->
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">


<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#bs-carousel" data-slide-to="1"></li>
  <li data-target="#bs-carousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <div class="item slides active">
    <div class="slide-1"></div>
    <div class="hero">
      <hgroup>
          <h1>A New Way to be Organized without the hassle</h1>
          <h3>No longer worry about not studying enough. </h3>
      </hgroup>
      <a href="views/test.html"><button class="btn btn-hero btn-lg" role="button">Test</button></a>
    </div>
  </div>
  <div class="item slides">
    <div class="slide-2"></div>
    <div class="hero">
      <hgroup>
          <h1>You are smart</h1>
          <h3>We will plan your daily acaedmic schedule  </h3>
      </hgroup>
      <button class="btn btn-hero btn-lg" role="button">See all features</button>
    </div>
  </div>
  <div class="item slides">
    <div class="slide-3"></div>
    <div class="hero">
      <hgroup>
          <h1>We are amazing</h1>
          <h3>Get start your next awesome project</h3>
      </hgroup>
      <button class="btn btn-hero btn-lg" role="button">See all features</button>
    </div>
  </div>
</div>
</div>

  <!-- end-->
  <div class="row">
  <div class="col-sm-4" style="background-color:lavender;"><img src="images/IMG_0363.JPG" width="200px" height = "200px"><h2>Becker Hecker</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p></div>
  <div class="col-sm-4" style="background-color:lavender;"><img src="images/IMG_0363.JPG" width="200px" height = "200px"><h2>Becker Hatter</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p></div>
  <div class="col-sm-4" style="background-color:lavender;"><img src="images/IMG_0363.JPG" width="200px" height = "200px"><h2>Becker Hacker</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p></div>

</div>
